@tailwind base;
@tailwind components;
@tailwind utilities;

/* Top menu navigation */
nav {
  @apply pb-1
    border-b-4 border-gray-200
    flex items-start gap-5
    my-2 mx-auto;
}

nav h1 {
  @apply text-red-500 text-xl;
}
nav a,
nav span {
  @apply text-blue-200 text-lg;
}

nav a:hover {
  @apply text-blue-500 text-lg;
}

nav a:active {
  @apply text-green-500 text-lg;
}

nav a[aria-current="page"] {
  @apply text-blue-500 text-lg font-extrabold;
}

/* Header Search bar on top of main pages */

header {
  @apply flex flex-grow justify-between items-center mb-1;
}

/* Panels on a page */
.leftcontent {
  display: inline-block;
  height: 80vh;
  width: 60%;
  overflow-y: auto;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

.rightcontent {
  display: inline-block;
  height: 80vh;
  width: 40%;
  overflow-y: auto;
  @apply border bg-slate-500 text-slate-900;
}
/* Search bar enhancements */

#searchbar > div form {
  position: relative;
}

#searchbar > div form input[type="search"] {
  box-sizing: border-box;

  padding-left: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.625rem 0.3rem;
  background-size: 1rem;
  position: relative;
}

#searchbar > div form input[type="search"].loading {
  background-image: none;
}

#search-spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 0.75rem;
  top: 0.3rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Primary table on a panel */

.maintable {
  width: 100%;
}

.maintable thead th {
  position: sticky;
  top: 0;
  @apply font-semibold tracking-wide text-left text-gray-900 bg-slate-300 uppercase border-b border-gray-600;
  z-index: 10;
}

.maintable {
  @apply py-0.5 px-1 border border-x-slate-600 border-y-slate-600 bg-slate-700 align-top;
}
.maintable th {
  @apply px-1 py-2 border-x-slate-600;
}

/* Detail icon on data row */
.detailicon {
  border: 0;
  height: 16px;
  width: 16px;
  filter: invert(1);
  @apply hover:bg-green-500;
}
/* Table in a child panel */

.childtable {
  width: 100%;
}

.childtable thead th {
  position: sticky;
  top: 0;
  @apply text-left text-gray-800 bg-slate-400 border-b border-gray-600;
  z-index: 10;
}

.childtable th {
  @apply px-1 py-2 border-x-slate-400;
}

.childtable td {
  @apply py-0.5 px-1 border border-x-slate-500 border-y-slate-700 bg-slate-400 align-top;
}

/* Child tab */

.tabcontent {
  display: inline-block;
  height: 80%;
  width: 100%;
  overflow-y: auto;
  @apply border-spacing-1 bg-slate-400 text-slate-900;
}

/* Keep items on same row */
.inlineitem {
  display: inline-block;
  padding-right: 5px;
}

/* Used on Seed page */
.statusbar {
  @apply text-yellow-300;
}

/* Dependency tree */

.owner {
  @apply text-red-900;
}

.typeicon-Table {
  height: 16px;
  width: 16px;
  filter: invert(20%) drop-shadow(0px 0px 1px blue);
}

.typeicon-Sproc {
  height: 16px;
  width: 16px;
  filter: invert(20%) drop-shadow(0px 0px 1px green);
}

.typeicon-View {
  height: 13px;
  width: 13px;
  filter: invert(20%) drop-shadow(0px 0px 1px Red);
}

.typeicon-Func {
  height: 16px;
  width: 16px;
  filter: invert(20%) drop-shadow(0px 0px 1px Purple);
}
.typeicon-Ifunc {
  height: 16px;
  width: 16px;
  filter: invert(20%) drop-shadow(0px 0px 1px Yellow);
}

#levelNo1 {
  white-space: nowrap;
  margin-left: 5px;
}
#levelNo2 {
  white-space: nowrap;
  margin-left: 30px;
}
#levelNo3 {
  white-space: nowrap;
  margin-left: 55px;
}
#levelNo4 {
  white-space: nowrap;
  margin-left: 80px;
}

#levelNo5 {
  white-space: nowrap;
  margin-left: 105px;
}

#levelNo6 {
  white-space: nowrap;
  margin-left: 125px;
}
#levelNo7 {
  white-space: nowrap;
  margin-left: 125px;
}

/* ----------------------------------------- Jobs ----------------------------------*/
.jobstep {
  @apply border-b-2 p-2;
}
.stepname {
  @apply text-lg text-slate-950 text-lg;
}
.commandtext {
  @apply text-sm;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.sourcecode {
  @apply bg-gray-400  border  p-2 border-blue-950 text-sm;
}

.label {
  display: inline-block;
  width: 80px;
  @apply text-black font-semibold;
}
.info {
  @apply mr-10 pl-1 pr-1 text-blue-950;
}
/* ----------------------------------------- generics ----------------------------------*/

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply border-t-2 p-1 pr-3 pl-3  font-bold bg-slate-400 text-blue-900 rounded-t-md;
}

button[type="submit"] {
  @apply border border-slate-300 text-slate-100 px-4 py-0.5 bg-slate-800
          rounded-md hover:bg-slate-700 focus-within:bg-slate-700;
}

select {
  width: 170px;
  @apply border  border-slate-300 text-slate-900 px-1 mx-0.5 rounded bg-slate-200 
  hover:bg-slate-300 focus-within:bg-slate-300;
}

input[type="search"] {
  @apply border  border-slate-300 text-slate-900 mx-0.5 px-1 rounded bg-slate-200  hover:bg-slate-300 focus-within:bg-slate-300;
}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 100ms;
}
